@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Croissant+One&family=Darker+Grotesque&family=Flamenco&family=Merienda&family=Seaweed+Script&display=swap');

/* SELECTORS are alphabetized */

:root {
  --gothic-grey: #929292;
  --fresh-dirt: #52322c;
  --roses-on-your-grave: #bb0000; 
  --grim-reaper: #030100;
  --mossy-headstone: #0c6800;
  --blue-is-the-night: #04007E;
  --worm-food: #95746a;
  --go-towards-the-white: #fffff0;
}

body {
  padding: 7px;
  background-color: var(--gothic-grey);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-family: 'Seaweed Script', cursive;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  font-family: 'Croissant One', cursive;
  color: var(--go-towards-the-white);
  border-left: 1px solid var(--worm-food);
  padding: 10px;
}

textarea:active {
  background-color: var(--mossy-headstone);
}

textarea:focus {
  background-color: var(--roses-on-your-grave);
}

/* CLASSES are alphabetized */

.description {
  font-family: 'Flamenco', cursive;
  font-size: 1.75em;
  white-space: pre-wrap;
}

.display-3 {
  padding: 10px;
  font-family: 'Merienda', cursive;
  font-weight: 600;
}

.hour {
  background-color: var(--grim-reaper);
  color: var(--roses-on-your-grave);
  border-top: 1px dashed var(--roses-on-your-grave);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--grim-reaper);
  border-radius: 0;
  border-bottom: 10px solid var(--grim-reaper);
}

.lead {
  padding: 5px;
  font-size: 2em;
  font-family: 'Seaweed Script', cursive;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--roses-on-your-grave);
}

.saveBtn {
  border-left: 1px solid var(--go-towards-the-white);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--grim-reaper);
  color: var(--roses-on-your-grave);
  font-family: 'Darker Grotesque', sans-serif;
}

.saveBtn:hover {
  border-left: 1px solid var(--go-towards-the-white);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--worm-food);
  color: var(--grim-reaper);
  font-family: 'Darker Grotesque', sans-serif;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: var(--mossy-headstone);
}

.time-block {
  text-align: center;
  border-radius: 15px;
  font-family: 'Belgrano', serif;
}

/* IDs are alphabetized */

#currentDay {
  color: var(--roses-on-your-grave);
  font-family: 'Croissant One', cursive;
  font-size: 1.75em;
}